tmp/
components/
managed_components/
build/
.vscode/
.devcontainer/
sdkconfig.old
sdkconfig
dependencies.lock
.env
releases/
main/assets/lang_config.h
main/mmap_generate_emoji.h
.DS_Store
.cache
main/mmap_generate_emoji.h
*.pyc
*.bin

# include .bin in /animations/ and /main/spiffs_data/
!animations/*.bin
!main/spiffs_data/*.bin