CONFIG_IDF_TARGET="esp32s3"
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions.csv"
CONFIG_ESPTOOLPY_FLASHSIZE_16MB=y
CONFIG_ESPTOOLPY_FLASHMODE_QIO=y
CONFIG_ESP_DEFAULT_CPU_FREQ_MHZ_240=y
CONFIG_SPIRAM=y
CONFIG_SPIRAM_MODE_OCT=y
CONFIG_SPIRAM_SPEED_80M=y
CONFIG_SPIRAM_MALLOC_ALWAYSINTERNAL=0
CONFIG_FREERTOS_TASK_CREATE_ALLOW_EXT_MEM=y
CONFIG_SPIRAM_ALLOW_STACK_EXTERNAL_MEMORY=y
CONFIG_FREERTOS_HZ=1000
CONFIG_FREERTOS_WATCHPOINT_END_OF_STACK=y
CONFIG_ESP_WIFI_STATIC_RX_BUFFER_NUM=6
CONFIG_ESP_WIFI_DYNAMIC_RX_BUFFER_NUM=8
CONFIG_ESP_WIFI_DYNAMIC_RX_MGMT_BUFFER=y
CONFIG_ESP_WIFI_IRAM_OPT=n
CONFIG_ESP_WIFI_RX_IRAM_OPT=n
CONFIG_ESP_WIFI_ENTERPRISE_SUPPORT=n
CONFIG_BT_ENABLED=y
CONFIG_BT_CONTROLLER_ENABLED=y
CONFIG_BT_BLUEDROID_ENABLED=n
CONFIG_BT_NIMBLE_ENABLED=y
CONFIG_MBEDTLS_CERTIFICATE_BUNDLE=y
CONFIG_MBEDTLS_CERTIFICATE_BUNDLE_DEFAULT_FULL=y
CONFIG_NEWLIB_NANO_FORMAT=y
CONFIG_LV_USE_GIF=y
CONFIG_LV_GIF_CACHE_DECODE_DATA=y
CONFIG_LV_USE_BUILTIN_MALLOC=n
CONFIG_LV_USE_CLIB_MALLOC=y
CONFIG_LV_BUILD_EXAMPLES=n
CONFIG_USE_AUDIO_PROCESSOR=y
CONFIG_USE_DEVICE_AEC=y
CONFIG_USE_CUSTOM_WAKE_WORD=y
CONFIG_CUSTOM_WAKE_WORD="hey me low"
CONFIG_CUSTOM_WAKE_WORD_DISPLAY="hey milu"
CONFIG_CUSTOM_WAKE_WORD_THRESHOLD=10
CONFIG_SR_MN_CN_NONE=y
CONFIG_SR_MN_EN_MULTINET7_QUANT=y
CONFIG_ESP_WS_CLIENT_SEPARATE_TX_LOCK=y
CONFIG_ECHOEAR_BABYMILU_OTA_URL="http://35.225.248.38:8000/babymilu/ota/"
CONFIG_ECHOEAR_BABYMILU_WEBSOCKET_URL="ws://35.225.248.38:8000/babymilu/v1/"
CONFIG_ECHOEAR_BABYMILU_MQTT_URL="mqtt://35.225.248.38:1883"
CONFIG_ECHOEAR_BABYMILU_FIRESTORE_PROJECT="composed-augury-469200-g6"
CONFIG_ECHOEAR_BABYMILU_ERROR_UPLOAD_URL="https://upload-error-log-tmdtlnu7zq-uc.a.run.app"
CONFIG_ECHOEAR_BABYMILU_ERROR_UPLOAD_API_KEY="test-key-123"
CONFIG_ECHOEAR_BABYMILU_ENABLE_FIRMWARE_UPDATE=y
CONFIG_ECHOEAR_BABYMILU_ALLOW_MENUCONFIG_WIFI_FALLBACK=n
