CONFIG_BABYMILU_FCC_ULTRA_SAFE_MODE=y
CONFIG_BOARD_TYPE_ECHOEAR=y
CONFIG_USE_AUDIO_PROCESSOR=n
CONFIG_USE_AFE_WAKE_WORD=n
CONFIG_USE_ESP_WAKE_WORD=n
CONFIG_USE_DEVICE_AEC=n
CONFIG_USE_SERVER_AEC=n
CONFIG_USE_AUDIO_DEBUGGER=n
CONFIG_OTA_URL=""
